name: README build

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Generate SVG Banner
        run: python svg_gen.py

      - name: Commit & push banner
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          if [[ $(git status --porcelain) ]]; then
            git add banner.svg
            git commit -m "auto-update: banner.svg"
            git push
          else
            echo "Nothing new to commit"
          fi
